*{
  margin: 0;
  padding: 0;
}
.header-navbar img{
  height:70px;
  width:70px;
  padding-right: 10px;
  left: 50;
}
.spltter-home{
  padding-top:50px;
}
.navbar-header{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #fff;
  font-size: 27px;
  font-weight: bold;
  text-shadow: 1.2px 2.2px 2.4px rgb(228, 81, 171);
  padding-left: 15px;
}
.navbar-header:hover{
  color: rgb(67, 216, 226);
}
.color-header{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 22px;
  color:#fff;
  padding-left: 40px;
}
.color-header:hover{
  color: rgb(67, 216, 226);
}
.footer-text div{
  padding-left: 40%;
  padding-bottom: 10px;
  color: #fff;
}
.footer-text p{
  padding-left: 39%;
  color: #fff;
}